<!DOCTYPE html>
<html>

<head>
  <title>Tree View</title>
  <script src="https://unpkg.com/vue"></script>
  <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
  <style>
    ul {
      list-style: none;
      font-size: 14px;

    }

    div {
      display: inline-block;
    }
  </style>
  <script type="text/x-template" id="item-template">
    <li>
      <div
        :class="{bold: isFolder}"
        @click="toggle"
        @dblclick="makeFolder">
        {{index}}
      </div>
      <div
        :class="{bold: isFolder}"
        @click="toggle"
        @dblclick="makeFolder">
        {{ item.name }}
       
      </div>
      <div
        :class="{bold: isFolder}"
        @click="toggle"
        @dblclick="makeFolder">
        {{ item.val }}
       
      </div>
      <ul v-show="isOpen" v-if="isFolder">
        <tree-item
          class="item"
          v-for="child,index in item.children"
          :item="child"
          @make-folder="$emit('make-folder', $event)"
        ></tree-item>
      </ul>
    </li>
  </script>
</head>

<body>

  <ul id="demo">
    <tree-item class="item" v-for="item,index in treeData" :item="item" @make-folder="makeFolder"></tree-item>
  </ul>

  <script>
    // demo data


    // define the tree-item component
    Vue.component("tree-item", {
      template: "#item-template",
      props: {
        item: Object,
        index: this.index
      },
      data: function () {
        return {
          isOpen: true
        };
      },
      computed: {
        isFolder: function () {
          return this.item.children && this.item.children.length;
        }
      },
      methods: {
        toggle: function () {

          if ($(this.$el).attr("flag") != "yes") {
            $(this.$el).children().find("ul").slideUp("slow");
            $(this.$el).children().find("li").slideUp("slow");
            $(this.$el).attr("flag", "yes");
          }
          else {

            $(this.$el).children().find("ul").slideDown("slow");
            $(this.$el).children().find("li").slideDown("slow");
            $(this.$el).attr("flag", "no");
          }
        },
        makeFolder: function () {
          if (!this.isFolder) {
            this.$emit("make-folder", this.item);
            this.isOpen = true;
          }
        }
      }
    });

    // boot up the demo
    var demo = new Vue({
      el: "#demo",
      data: {
        treeData: [
          {
            name: "111",
            val: "ssssss",
            children: [
              { name: "hello", val: "ssssss" },

              { val: "ssssss", name: "wat" },
              {
                name: "child folder",
                val: "ssssss",
                children: [
                  {
                    val: "ssssss",
                    name: "child folder",
                    children: [
                      { name: "hello" }, 
                      { name: "wat" }
                      ]
                  },
                  { val: "ssssss", name: "hello" },
                  { val: "ssssss", name: "wat" },
                  {
                    name: "child folder", val: "ssssss",
                    children: [{ name: "hello" }, { name: "wat" }]
                  }
                ]
              }
            ],
          },
          {
            name: "2222",
            val: "ssssss",
            children: [
              { name: "hello", val: "ssssss" },
              { val: "ssssss", name: "wat" },
              {
                name: "child folder",
                val: "ssssss",
                children: [
                  {
                    val: "ssssss",
                    name: "child folder",
                    children: [{ name: "hello" }, { name: "wat" }]
                  },
                  { val: "ssssss", name: "hello" },
                  { val: "ssssss", name: "wat" },
                  {
                    name: "child folder", val: "ssssss",
                    children: [{ name: "hello" }, { name: "wat" }]
                  }
                ]
              }
            ]
          }
        ]
      }
 ,
      methods: {
        makeFolder: function (item) {
          Vue.set(item, "children", []);

        },

      }
    });
  </script>
</body>

</html>